$lightColor: #eee;
$darkColor: #aaa;

$buttonLight: $lightColor;
$buttonDark: #6e6b6b;
$buttonHoverBackground: $buttonLight;
$buttonHoverText: $buttonDark;

.chess-board .light {
  background: $lightColor;
}

.chess-board .dark {
  background: $darkColor;
}

.chess-btn {
  /* bootstrap override */

  /* LIGHT ON DARK */
  color: $buttonLight;
  background: $buttonDark;

  /* DARK ON LIGHT */
  /*color: $buttonDark;*/
  /*background: $buttonLight;*/

  /* OTHER */
  /*color: #aaa;*/
  /*background: #eee;*/
}

.chess-btn:hover {
  /* bootstrap override */

  /* LIGHT ON DARK */
  color: $buttonHoverText;
  background: $buttonHoverBackground;

  /* DARK ON LIGHT */
  /*color: $buttonDark;*/
  /*background: $buttonLight;*/

  /* OTHER */
  /*color: #aaa;*/
  /*background: #eee;*/
}

.chess-btn:focus {
  /* bootstrap override */

  /* LIGHT ON DARK */
  color: $buttonHoverText;
  background: $buttonHoverBackground;

  /* DARK ON LIGHT */
  /*color: $buttonDark;*/
  /*background: $buttonLight;*/

  /* OTHER */
  /*color: #aaa;*/
  /*background: #eee;*/
}