$lightColor: #eee;
$darkColor: #aaa;
$buttonLight: $lightColor;
$buttonDark: #6e6b6b;

.chess-board .light {
  background: $lightColor;
}

.chess-board .dark {
  background: $darkColor;
}

.chess-btn {
  /* bootstrap override */

  /* LIGHT ON DARK */
  color: $buttonLight;
  background: $buttonDark;

  /* DARK ON LIGHT */
  /*color: $buttonDark;*/
  /*background: $buttonLight;*/

  /* OTHER */
  /*color: #aaa;*/
  /*background: #eee;*/
}